# MongoDB connection string
# For local MongoDB:
MONGO_URI=mongodb://localhost:27017/solecraft

# For MongoDB Atlas (cloud):
# MONGO_URI=mongodb+srv://harsh:hpawar2005@cluster0.kjxb9t0.mongodb.net/?appName=Cluster0

# Server port
PORT=3000
